//  Copyright © 2015 Ben Cochran. All rights reserved.

// Set this to your llvm prefix. I’m sorry.
LLVM_PREFIX = /usr/local/Cellar/llvm/3.6.2




LIBRARY_SEARCH_PATHS = $(inherited) $(LLVM_PREFIX)/lib

LLVM_LIBRARIES = -lLLVMCore -lLLVMAnalysis -lLLVMSupport -lLLVMTarget -lLLVMMC

OTHER_LDFLAGS = $(inherited) -all_load -lc++ -lm -lz -lpthread -lcurses $(LLVM_LIBRARIES)

GCC_ENABLE_CPP_RTTI = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __STDC_LIMIT_MACROS=1 __STDC_FORMAT_MACROS=1 __STDC_CONSTANT_MACROS=1
